---
title: Links
layout: default
---

<main role="main">
  <div class="container">
    {% include title-section.html %}

    <div class="bg-white">
      <div class="row">
        <div class="col-12">
          <h2>Index</h2>
          <ul>
            <li>
              <a href="#bsac">BSAC Resources</a>
              <ul>
                <li>Annual Diving Incident Report</li>
                <li>
                  BSAC '88 Decompression Tables (Air, Levels 1-4) - requires
                  login
                </li>
                <li>BSAC Tables (Nitrox) - requires login</li>
                <li>Diver Guidance for Immersion Pulmonary Oedema (IPO)</li>
                <li>Diving Year Planner</li>
                <li>Equivalent BSAC Qualifications</li>
                <li>Incident/Accident Report Form</li>
                <li>Safe Diving Guide</li>
                <li>Safety</li>
              </ul>
            </li>
            <li>
              <a href="#covid-19">COVID-19 Guidance</a>
              <ul>
                <li>BSAC: Training information regarding COVID-19</li>
                <li>Public Health England: Guidance for first responders</li>
                <li>
                  Resuscitation Council UK: COVID-19 - CPR and resuscitation in
                  first aid
                </li>
              </ul>
            </li>
            <li>
              <a href="#emergencies">Emergencies</a>
              <ul>
                <li>Hand Signals For Emergencies</li>
                <li>How to do a 4-Minute Neurologic Exam</li>
                <li>Hyperbaric Oxygen Treatment Trust</li>
                <li>
                  Hyperbaric Chamber Locations Across The UK - ukdiving.co.uk
                </li>
                <li>
                  Incident Procedure / Casualty Assessment Form -
                  staffordscuba.co.uk
                </li>
                <li>"No Entonox" Wristbands / pac Wristbands</li>
                <li>what3words</li>
              </ul>
            </li>
            <li><a href="#other">Other Useful Links</a></li>
            <ul>
              <li>Dive Management Briefing Checklist</li>
              <li>Divernet</li>
              <li>Dive Site Directory - UK</li>
              <li>Diver's Home Maintenance Kit: 15 Must-Have Items</li>
              <li>simplyscuba</li>
              <li>Tides App</li>
              <li>UK Vis Report</li>
              <li>ukdiving.co.uk</li>
              <li>Windguru</li>
            </ul>
          </ul>
          <br />
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          {% include_relative links-bsac.html %}

          <p class="float-center">
            <a href="#">Back to top</a>
          </p>
          <br />
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-12">
          {% include_relative links-covid19.html %}

          <p class="float-center">
            <a href="#">Back to top</a>
          </p>
          <br />
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-12">
          {% include_relative links-emergencies.html %}

          <p class="float-center">
            <a href="#">Back to top</a>
          </p>
          <br />
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-12">{% include_relative links-other.html %}</div>
      </div>
    </div>
  </div>
</main>
