<header>
  <div class="navbar navbar-expand-md navbar-light bg-light box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="index.html" class="navbar-brand d-flex align-items-center">
        <strong>MUSAC</strong>
      </a>
      <div class="nav-item center">
        <a href="aboutus.html"> About Us </a>
      </div>
      <div class="nav-item center">
        <a href="calendar.html">Calendar</a>
      </div>
      <div class="nav-item center">
        <a href="links.html">Useful Links</a>
      </div>
      <div class="nav-item center">
        <a href="faq.html">FAQ</a>
      </div>
      <button
        class="navbar-toggler backup-navbar-toggler pull-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarHeader"
      aria-controls="navbarHeader"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse bg-info" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="dropdown-nav-item center">
          <a href="aboutus.html">About Us</a>
        </div>
        <div class="dropdown-nav-item center">
          <a href="calendar.html">Calendar</a>
        </div>
        <div class="dropdown-nav-item center">
          <a href="links.html">Useful Links</a>
        </div>
        <div class="dropdown-nav-item center">
          <a href="faq.html">FAQ</a>
        </div>
      </div>
    </div>
  </div>
</header>
